:root {
  --primary-color: #eab308;
  --secondary-color: #fff7ed;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

section,
footer {
  margin-top: 100px;
}

.first-section {
  padding: 100px 0px;
  background-color: var(--secondary-color);
}

.text-primary {
  color: var(--primary-color) !important;
}

.header {
  transition: all 0.3s ease;
  position: fixed;
  top: 0px;
  padding: 10px;
  background-color: white;

  &.shadow {
    box-shadow: var(--shadow);
    /* background-color: var(--primary-color); */
  }

  .logo-container {
    max-width: 250px;
    .logo-image {
      width: 100%;
    }
  }
}

.crane-container {
  border-radius: 12px;
  box-shadow: var(--shadow);
  max-width: 380px;
  padding: 0px;

  .image-container {
    max-width: 380px !important;

    .image {
      width: 100%;
      border-radius: 12px 12px 0px 0px !important;
    }
  }

  .info-container {
    padding: 16px;
    display: flex;
    flex-direction: column;

    .icon-container {
      width: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.phone-btn-container {
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    filter: brightness(90%);
  }

  .phone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    border-radius: 12px;
    width: 100%;
    padding: 10px 40px;
    background-color: var(--primary-color);
  }
}

.text-decoration-none {
  color: black;
}

.services-section {
  padding: 0px 160px;
}
/* main {
  padding: 0px 20px;
} */

@media (max-width: 768px) {
  .services-section {
    padding: 20px;
  }

  .autocrane-section {
    padding: 0px 20px;

    .phone-btn-container {
      padding: 0px 0px;
    }
  }

  .phone-btn-container {
    padding: 0px 50px;
  }
}
