:root {
  --primary-color: #eab308;
  --secondary-color: #fff7ed;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

section,
footer {
  margin-top: 100px;
}

.shadow {
  box-shadow: var(--shadow);
}

.text-decoration-none {
  color: black;
}

.first-section {
  padding: 100px 0px;
  background-color: var(--secondary-color);
  z-index: 10;
  /* background-image: url('../assets/images/Tarnovo.jpeg') !important;
  background-size: cover !important;
  background-position: center !important;
  filter: brightness(30%) !important; */
}

.text-primary {
  color: var(--primary-color) !important;
}

.header {
  transition: all 0.3s ease;
  position: fixed;
  top: 0px;
  padding: 10px;
  background-color: white;

  &.shadow {
    box-shadow: var(--shadow);
    /* background-color: var(--primary-color); */
  }

  .logo-container {
    max-width: 250px;
  }
}

.crane-container {
  border-radius: 12px;
  box-shadow: var(--shadow);
  max-width: 380px;
  padding: 0px;

  .image-container {
    max-width: 380px !important;
    
    .image {
      object-fit: cover;
      width: 100%;
      max-height: 250px !important;
      border-radius: 12px 12px 0px 0px !important;
    }
  }

  .info-container {
    padding: 16px;
    display: flex;
    flex-direction: column;

    .icon-container {
      width: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      
      img {
        max-width: 28px;
        max-height: 28px;
        width: auto;
        height: auto;
      }
    }
  }
}

.phone-btn-container {
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    filter: brightness(95%);
  }

  .phone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    border-radius: 12px;
    width: 100%;
    padding: 10px 40px;
    background-color: var(--primary-color);
  }
}

.location-section {
  .location-image {
    width: 30px;
  }

  .map-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.3s;

    border-radius: 12px;
    width: 100%;
    padding: 10px 40px;
    background-color: var(--primary-color);
    text-decoration: none;
    width: 75%;

    &:hover {
      cursor: pointer;
      filter: brightness(95%);
    }
  }

  .map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .map {
      border-radius: 12px;
    }
  }
}

.services-section {
  padding: 0px 160px;
}

@media (max-width: 768px) {
  .services-section {
    padding: 20px;
  }

  .autocrane-section {
    padding: 0px 20px;

    .phone-btn-container {
      padding: 0px 0px;
    }
  }

  .phone-btn-container {
    padding: 0px 50px;
  }

  .location-section {
    .map-container {
      .map {
        width: 100svw;
        border-radius: 0px;
      }
    }
  }

  .footer {
    margin-top: 0px;
  }
}
